body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #151c22;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

a {
    color: inherit;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-header-logo {
    padding: 25px 0 20px;
    margin: auto;
}

.site-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 400px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.user-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 400px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation-item {
    padding: 25px 0;
    margin-right: 35px;
}

.user-navigation-item {
    padding: 20px 0;
    margin-left: 35px;
}

.link-item {
    text-decoration: none;
}

.main-header-nav-wrapper {
    display: flex;
    justify-content: flex-start;
}

.promo {
    background-color: #f1f2f4;
}

.promo-wrapper {
    display: flex;
    justify-content: flex-start;
}

.promo-text-column {
    width: 520px;
}

.promo-img-column {
    width: 430px;
    padding: 50px 50px;
}

.promo-text {
    font-family: "Anton", sans-serif;
    font-weight: normal;
    font-size: 128px;
    line-height: 188px;
    text-transform: uppercase;
}

.black-button {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    background-color: #151c22;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;

    margin-right: -30px;
}

.catalog-item {
    width: 270px;
    margin-bottom: 25px;
    margin-right: 30px;
}

.catalog-item-link {
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}

.new-collection {
    padding-bottom: 90px;
}

.new-collection-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.new-collection-text-column {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f1f2f4;
}

.new-collection-img-column {
    width: 700px;
}

.categories {
    padding-bottom: 90px;
}

.main-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #151c22;
}

.main-footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-navigation {
    display: flex;
    justify-content: center;
    width: 525px;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    
    list-style: none;

    margin: auto;
}

.social {
    display: flex;
    justify-content: center;
    width: 20px;

    margin: 0;
    padding: 0;

    list-style: none;
    
    margin: auto;
}

.main-footer-logo {
    padding: 25px 0 20px;
    margin: auto;
}

.footer-navigation-item {
    padding: 20px 15px;
}

.footer-navigation-link {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

.social-item {
    padding: 20px 15px;
}

.catalog-header-wrapper {
    border-color: #f1f2f4;
    padding-top: 70px;
    padding-bottom: 45px;
}

.breadcrumbs {
    display: flex;
    padding: 0;
    margin: 0;

    list-style: none;
}

.breadcrumbs-item {
    margin-right: 30px;
}

.catalog-list-compact {
    margin-right: -66px;
}

.catalog-item-compact {
    width: 243px;
    margin-bottom: 52px;
    margin-right: 66px;
}

.catalog-slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 155px;
}